<a href="https://colab.research.google.com/github/denzel2025/Data-Science-Git-Branch/blob/main/L9_lambda_functions%2CTuples_and_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print((lambda x: x + 5)(4))

9

In [3]:
print((lambda x: x * 2)(8))

16

In [5]:
print((lambda x: x ** 2)(8))

64

In [8]:
# Apply Lambda in Real use

def apply(criteria, n):
  count = 0
  for i in range (n + 1):
    if criteria (i):
      count += 1
  return count

print(apply(lambda x: x % 2 == 0, 10)) #Counting even numbers from 1-10

6

In [9]:
#Counts numbers divisible by 5 from 0-100
print(apply(lambda x: x % 5 == 0, 100))

21

In [12]:
t = (2, 4, 6, 15, 41, 62, 32, 57)
print(t[6])

32

In [16]:
# Tuples are immutable
#t[1] = 10

In [ ]:
# Why use Tuples?
#They keep data safe and unchanged
#You can return multiple values in one go

In [17]:
def divide(x, y):
  return (x // y, x % y)

result = divide(10, 3)
print(result)

(3, 1)

In [20]:
def char_counts(s):
  vowels = "aeiou"
  v = 0
  for c in s:
    if c in vowels:
      v += 1
  return (v, len(s) - v)

print(char_counts("education"))

(5, 4)

In [21]:
#Lists
my_list = [3, 5, 7]
my_list[1] = 9
print(my_list)

[3, 9, 7]

In [22]:
#Iterating over lists

def list_sum(L):
  total = 0
  for number in L:
    total += number
  return total

print(list_sum([3, 5, 7]))

15

In [24]:
def sum_and_prod(L):
  s = 0
  p = 1
  for i in L:
    s += i
    p *= i
  return (s, p)

print(sum_and_prod([4, 6, 2, 5]))

(17, 240)