<a href="https://colab.research.google.com/github/denzel2025/Data-Science-Git-Branch/blob/main/Lec_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# A Function
def square_numbers(numbers):
  new_list = []
  for item in numbers:
    if item != numbers:
     new_list.append(item**2)
  return new_list

print(square_numbers([1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [2]:
#List Comprehension
#Squares of numbers
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Filter Even Numbers
evens = [x for x in range(1, 11) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10]

In [4]:
#Real-world situation
emails = ["ken@gmail.com", "Linda@yahoo.com", "Bob@gmail.com"]
gmail_users = [email.split("@")[0] for email in emails if email.split("@")[1] == "gmail.com"]
print(gmail_users)

['ken', 'Bob']

In [5]:
emails = ["ken@gmail.com", "Linda@yahoo.com", "Bob@gmail.com"]
gmail_users = [email for email in emails if "@gmail.com" in email]
print(gmail_users)

['ken@gmail.com', 'Bob@gmail.com']

In [6]:
#Extracting numbers divisible by 3
div3 = [x for x in range(1, 21) if x % 3 == 0]
print(div3)

[3, 6, 9, 12, 15, 18]

In [8]:
#Functions as Objects
def greet(name):
  return(f"Hello, {name}!")

say_hello = greet
print(say_hello("Bob"))

Hello, Bob!

In [9]:
#Return a function from a function
def make_multipier(x):
  def multiplier(y):
    return x * y
  return multiplier

multiply_by_3 = make_multipier(3)
print(multiply_by_3(5))

15

In [10]:
def make_multiplier(x):
  def multiply(y):
    return x * y
  return multiply

doubler = make_multiplier(2)
print(doubler(5))

10

In [11]:
#Keyword and Default Arguments
#Default arguments
def greet(name, message="Hello"):
  return f"{message}, {name}!"

print(greet("Bob"))
print(greet("Bob", "Hi"))

Hello, Bob!
Hi, Bob!

In [12]:
#Keyword arguments
def greet(name, message="Hello"):
  return f"{message}, {name}!"

print(greet(message="Hi", name="Bob"))

Hi, Bob!

In [13]:
#Default country
def say_location(city, country="Kenya"):
  print(f"{city} is in {country}")

say_location("Nairobi")
say_location("Kampala", "Uganda")

Nairobi is in Kenya
Kampala is in Uganda

In [15]:
#Adding numbers with a default value
def add(a, b=10):
  return a + b

print(add(5))
print(add(5, 3))

15
8

In [16]:
#Keyword arguments
def introduce(name, age):
  print(f"My name is {name} and I am {age} years old.")

introduce(name="Bob", age=25)
introduce(age=30, name="Alice")

My name is Bob and I am 25 years old.
My name is Alice and I am 30 years old.

In [19]:
#Debugging in Python
print("Enter first number")
x = input()
print("Enter second number")
y = input()
print("Sum is:", x + y)

#fix
print("Enter first number")
x = int(input())
print("Enter second number")
y = int(input())
print("Sum is:", x + y)

Enter first number
1
Enter second number
2
Sum is: 12
Enter first number
1
Enter second number
2
Sum is: 3

In [21]:
#Debugging Tools & Techniques
#Glass and Black box Testing
def calculating_area(length, width):
  print("Length:", length)
  print("Width:", width)
  return length * width

area = calculating_area(5, 3)
print("Area:", area)

Length: 5
Width: 3
Area: 15

In [22]:
#Black box testing
def hidden_addition(x,y):
    return x + y

print(hidden_addition(5, 5))
print(hidden_addition(0, -2))
print(hidden_addition("a", "b"))

10
-2
ab

In [24]:
#Using assert for Sanity checks
#Assert - it is a checkpoint in your code.if a condition is false, the program stops and shows an error.

ages = [12, 15, 19]
assert ages[0] < ages[-1]
print(ages)

[12, 15, 19]

In [27]:
#Example:
def get_grade(score):
  assert 0 <= score <= 100, "Score must be between 0 and 100"
  if score >= 70:
    return "A"
  return "F"

print(get_grade(85))
print(get_grade(26))

A
F

In [30]:
#Logging
import logging
logging.basicConfig(level=logging.DEBUG)

def factorial(n):
  logging.debug(f"Calculating factorial of {n}")
  result = 1
  for i in range(1, n + 1):
    result *= i
    logging.debug(f"i = {i}, result = {result}")
  return result

factorial(5)

120

In [31]:
import logging
logging.basicConfig(level=logging.DEBUG)

def multiply(a, b):
  logging.debug(f"Multiplying {a} and {b}")
  return a * b

multiply(5, 5)

25