<a href="https://colab.research.google.com/github/denzel2025/Data-Science-Git-Branch/blob/main/Lecture_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Part 1:List Comprehension - a shorter and cleaner way to create a new list from an existing ones
#Traditional way
squares = []
for x in range(5):
    squares.append(x**2)
print(squares)


#List coprehension
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

In [4]:
#Add conditions(Filtering)
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [5]:
#Nested loops in list comprehension
pairs = [(x,y) for x in range(3) for y in range(2)]
print(pairs)

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

In [7]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
#Part 2:Functions as objects
#Functions Inside functions
def greet(name):
  def message():
    return f"Hello {name}!"
  return message

welcome = greet("Denzel")
print(welcome())

Hello Denzel!

In [9]:
#Return a Function
def multiplier(factor):
  def multiply(number):
    return number * factor
  return multiply

double = multiplier(2)
print(double(5))

10

In [11]:
#Part 3:Keyword and Default Arguments
#Default Arguments
def greet(name, message="Hello"):
  return f"Hello {name}, {message}!"

print(greet("Denzel"))
print(greet("Denzel", "How are you?"))

Hello Denzel, Hello!
Hello Denzel, How are you?!

In [14]:
#Keyword Arguments
def profile(name, age, city):
  print(f"Name: {name}, Age: {age}, City: {city}")

profile(age=25, city="New York", name="Denzel")

Name: Denzel, Age: 25, City: New York

In [15]:
#Debbuging Like a Pro
#Debbuging - Finding and fixing errors (bugs) in your code.
#Glass Box vs. Black Box Testing

In [23]:
#Buggy
def is_palindrome(s):
  temp = s
  #temp.reverse()
  return temp == s

print(is_palindrome("racecar"))

True

In [22]:
#Fix
def is_palindrome(s):
  return s == s[::-1]

print(is_palindrome("racecar"))

True

In [19]:
#Mutability Trap
def reverse_list(lst):
  temp = lst
  temp.reverse()
  return temp

nums = [1, 2, 3, 4, 5]
print(reverse_list(nums))
print(nums) #Wrong output

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [18]:
#Fix
def reverse_list(lst):
  temp = lst[:]
  temp.reverse()
  return temp

nums = [1, 2, 3, 4, 5]
print(reverse_list(nums))
print(nums)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]