<a href="https://colab.research.google.com/github/denzel2025/Data-Science-Git-Branch/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
students = ["Ali", "Jane", "Dennis", "Akinyi"]
print(students[0])

#2.replace
students[1] = "Banana"
students[3] = "Pineapple"
print(students)

#3.adding
students.append("Watermelon")
print(students)

#4.Removing
students.remove("Ali")
print(students)

Ali
['Ali', 'Banana', 'Dennis', 'Pineapple']
['Ali', 'Banana', 'Dennis', 'Pineapple', 'Watermelon']
['Banana', 'Dennis', 'Pineapple', 'Watermelon']

In [ ]:
shopping = ["eggs", "milk", "bread"]
print(shopping[2])
shopping[2] = "bananas"
print(shopping)

bread
['eggs', 'milk', 'bananas']

In [ ]:
#Mutability:Changing lists
#muatable - can be changed
marks = [85, 90, 75]
marks.append(95)
print(marks)

marks[0] = 88
print(marks)

[85, 90, 75, 95]
[88, 90, 75, 95]

In [ ]:
#PROBLEM
L = [1, 2, 3]
L = L.append(4)
print(L)

#SOLUTION
L = [1, 2, 3]
L.append(4)
print(L)

#SOLUTION2
L = [1, 2, 3]
L = L + [4]
print(L)

#SOLUTION3
L = [1, 2, 3]
LR = L.append(4)
print(L)

None
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
#What will be the Output?

scores = [65, 70, 85]
bonus = scores
bonus[0] = 100

print("Scores:", scores)
print("Bonus:", bonus)

Scores: [100, 70, 85]
Bonus: [100, 70, 85]

In [5]:
L1 = [5,6]
L2 = L1
L2.append(7)
print("L1 =", L1)
print("L2 =", L2)

L1 = [5, 6, 7]
L2 = [5, 6, 7]

In [6]:
original = [1,2,3]
new = []
for item in original:
    new.append(item * 2)
print("Original:", original)
print("New:", new)

Original: [1, 2, 3]
New: [2, 4, 6]

In [4]:
Original = [1,2,3]
Copy = Original[:]
Copy.append(4)
print("Original:", Original)
print("Copy:", Copy)

Original: [1, 2, 3]
Copy: [1, 2, 3, 4]

In [13]:
#A function that takes a list and a number and returns a new list with that number removed

def remove_number(L, num):
  new_list = []
  for item in L:
    if item != num:
      new_list.append(item)
  return new_list

print(remove_number([1,2,2,3,4],2))

[1, 3, 4]

In [15]:
L = [1,2,3]
T = []
for item in L:
  T.append(item + 1)
print(T)

[2, 3, 4]

In [17]:
#You have a list of student scores.You want to:

#1.add bonus marks
#2.remove anyone who gets below 40
#3.count how many passed
scores = [39, 50, 75, 30, 90]

def add_bonus(L):
  for i in range(len(L)):
    L[i] += 5
  return L

def filter_pass(L):
  return [mark for mark in L if mark >= 40]

scores = add_bonus(scores)
scores = filter_pass(scores)
print("Final scores:", scores)

Final scores: [44, 55, 80, 95]